@import 'navbar';

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;

}

aside {

    font-size: 3rem;
    text-align: center;
    background: url(/public/images/codigo.jpg) center no-repeat fixed;
    background-size: cover;
    height: 500px;

}

.hero {

    background-color: $light;

    &__text article {

        padding: 60px;

    }

    &__text h1 {

        text-align: center;
        padding-top: 50px;
        font-size: 2rem;

    }

    &__text p {

        text-align: justify;
        font-size: 1.1rem;

    }







}